@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.Task-2 {
  margin: 20px 0 0 0;
  padding: 0 0 5px 0;
  background-color: darkorange;
  min-height: 90px;
  min-width: 100px;
}

.divIcon {
  margin: 0 10px 0 auto;
  width: 40px;
  height: 40px;
  display: block;
}

.icon:hover {
  margin: 0 5px 0 auto;
  width: 45px;
  height: 40px;
  background: black;
  color: wheat;

  cursor: 'pointer'
}

.title-2 {
  margin: 10px 0;
}

.list-products {
  margin: 5px 5px 0 5px;
  background-color: #fff;
  min-height: 10px;
}

.material-icons {
  color: #696969;
  font-size: 40px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.icon-module {
  color: #fff;
  font-size: 1px;
  background-color: #fff;
  border: none;
  cursor: pointer;

  background-image: url('./icon/module.png');
  background-size: cover;
}

.view-modules {
  position: relative;
}

.shop-card {
  display: inline-block;
  width: 230px;
  border: 1px solid black;
  margin: 25px;
  padding: 0 5px 5px 5px;
}

.name-card {
  margin: 10px 0;
}

.color-item {
  margin: 0 0 0 0;
}

.img-card {
  width: 150px;
  height: 150px;
}

.card-price {
  color: red;
}

.card-button {
  margin: 0 0 0 10px;
  padding: 2px 5px;
  border: 1px solid red;
  border-radius: 10px;
  cursor: pointer;
  color: red;
}

.card-button:hover {
  background-color: #ecceceff;
  margin: 0 0 0 10px;
  padding: 2px 5px;
  border: 1px solid red;
  border-radius: 10px;
  cursor: pointer;
}

.view-list {
  position: relative;
}

.shop-item {
  display: flex;
  align-items: center;
}

.img-item {
  width: 50px;
  height: 50px;
  margin: 0 10px 0 0;
}

.name-item, .color-item, .item-price {
  margin: 0 auto 0 auto;
}

.name-item {
  width: 120px;
}

.color-item, .item-price {
  width: 40px;
}

.item-price {
  color: red;
}

.item-button {
  margin: 0 10px 0 auto;
  padding: 2px 5px;
  border: 1px solid red;
  border-radius: 10px;
  cursor: pointer;
  color: red;
}

.item-button:hover {
  background-color: #ecceceff;
  margin: 0 10px 0 auto;
  padding: 2px 5px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  color: red;
}
