#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Task-1 {
  background-color: rgb(217, 248, 203);
  margin: 0 0 10px 0;
  padding: 5px;
}

.Task-2 {
  background-color: rgb(157, 175, 248);
  margin: 10px 0 0 0;
  padding: 5px;
}

.titleTask {
  margin: 0 0;
}
